body{
    background-color: snow;
    font: 1em 'Outfit';

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #202124;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: xx-small;
    z-index: 1;
}

header {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1;
}

main {
    padding-top: 60px;
    padding-bottom: 5em;
    padding-left: 1em;
}
